<form action="/users" method="post">
  Name:<input type="text" name="name">
  <br>
  Username:<input type="text" name="username">
  <br>
  Password:<input type="text" name="password">
  <br>
  <br>
  <% @games.each.with_index(1) do |game, index|%>
  <label><input type="checkbox" name="game_ids[]" value="<%=game.id%>"><%=game.name%></label>
  <br>
  <%end%>
  <input type="submit" name="submit" value="Create User">
</form>
