<h1><%=@game.name%></h1>

<div>
  <%=@game.summary%>
</div>
<% x = 0 %>
<% @users.each do |user| %>
<% if user.games.include?(@game)%>
<% x += 1 %>
<% end %>
<% end %>
<br><br>
<div>
  Number of Players Who Own This Game: <%= x %>
  <br>
</div>

<h4><a href="/games">Return to Games Index</a></h4>
<h4><a href="/users/<%=current_user.slug%>">Return to Home Page</a></h4>
