<% if flash[:message] %>
<div class="alert alert-primary" role="alert">
  <%=flash[:message]%>
</div>
<% end %>
<h1>Welcome to the Games Library Progress Tracker!</h1>
<br>

<h2><a href="/users/new">Sign Up</a> if you're a new user!
  <br><br>
  Or
  <br><br>
  <a href="/users/login">Log In</a> to view your games!</h2>
